.backgroundP1{
    background-image: url("../../../img/work_group.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 25vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.backgroundP1 .backgroundwhite{
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.712);
    border: 1px black solid;
    padding: 15px;
    line-height: 1.8;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

.backgroundP1 .backgroundwhite .Paragraphe1Titre{
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: 20px;
}

.backgroundP1 .backgroundwhite div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.backgroundP1 .backgroundwhite div .Paragraphe1gauche{
    display: block;
    width: 30%;
    font-size: 16px;
}

.backgroundP1 .backgroundwhite div div{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}


.backgroundP1 .backgroundwhite div .methode{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
}

.backgroundP1 .backgroundwhite div ul{
    list-style: inside url("../../../img/cible.svg");
}


.backgroundP1 span{
    font-weight: bold;
}


@media screen and (max-width: 1024px){
    .backgroundP1 .backgroundwhite div{
        flex-direction: column;
        width: 100%;
    }
    .backgroundP1 .backgroundwhite{
        padding: 5px;
        width: 100%;
    }
    .backgroundP1 .backgroundwhite div .Paragraphe1gauche{
        width: 100%;
    }
    .backgroundP1 .backgroundwhite div div{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }
    
}